
<section class="signInBlock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="myForm">
                    <h1 class="text-center">Sign In</h1>
                    <form role="form" method="post" id="login-form" autocomplete="on">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control input-md loginEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control input-md loginPwd" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="mycheckbox"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input type="button" id="btn-login" class="btn btn-info btn-lg btn-block loginSubmit" value="Log in"><br>
                        <a href="#signup" class="signUp">SignUp?</a>
                        <a href="#forgotPwd" class="forget">Forgot password?</a>
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<script>
   /* window.cookie = { // refer in http://www.w3schools.com/js/js_cookies.asp
        getCookie: function(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) != -1) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        },
        setCookie: function(cname,cvalue,exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            //var domain =(config.siteDomain!=""?("domain=" + config.siteDomain):"");
            var expires = "expires=" + d.toGMTString();
            var path = "path=/";
            document.cookie = cname+"="+cvalue+"; "+path+"; "+expires;
            //document.cookie = cname+"="+cvalue+"; path=/; "+domain+"; "+expires;
        },
        deleteCookies: function() {
            cookie.setCookie('username', null, -1);
            cookie.setCookie('token', null, -1);
        }
    };
    var token = cookie.getCookie("token");
    if(token){
//        location.href = "../words";
    }

    function showPassword() {
        var key_attr = $('#key').attr('type');
        if(key_attr != 'text') {
            $('.checkbox').addClass('show');
            $('#key').attr('type', 'text');
        } else {
            $('.checkbox').removeClass('show');
            $('#key').attr('type', 'password');
        }
    }
    $(function(){
       $(".signUp").on('click',function(){
           $(".signUpBlock").show();
           $(".signInBlock").hide();
       });
       $(".signIn").on('click',function(){
           $(".signInBlock").show();
           $(".signUpBlock").hide();
       }) ;
    });*/
</script>
