
<section class="signInBlock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="myForm">
                    <h1 class="text-center">Reset Password</h1>
                    <form role="form" method="post" id="login-form" autocomplete="on">
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control input-md resetPwd" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="mycheckbox"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input type="button" id="btn-login" class="btn btn-info btn-lg btn-block resetSubmit" value="Reset"><br>
                        <a href="#login" class="signUp">SignIn | </a>
                        <a href="#signup" class="signUp">SignUp | </a>
                        <a href="#forgotPwd" class="forget">Forgot password?</a>
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>