

<section class="signUpBlock">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="myForm">
                    <h1 class="text-center">Sign Up</h1>
                    <form role="form" method="post" id="signUp-form" autocomplete="on">
                        <div class="form-group">
                            <label for="signUpUsername" class="sr-only">Username</label>
                            <input type="text" name="name" id="signUpUsername" class="form-control input-md signUpName" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="signUpEmail" class="sr-only">Email</label>
                            <input type="email" name="email" id="signUpEmail" class="form-control input-md signUpEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="signUpPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="signUpPassword" class="form-control input-md signUpPwd" placeholder="Password">
                        </div>
                        <input type="button" id="signUpBtn-login" class="btn btn-info btn-lg btn-block signUpSubmit" value="Sign Up"><br>
                        <a href="#login" class="signUp">SignIn</a>
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
