
<div id="dailyWords" class="col-lg-12 col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <h2>
                <div class="col-md-4">Words</div>
                <div class="col-md-4 col-md-offset-3">
                    <div action="#" class="search-form">
                        <div class="form-group searchGroup active has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search a word">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="btn btn-primary" id="addNewDailyWords" style="float:right" data-toggle="modal" data-target="#myModal" >Add New</div>
            </h2>
        </div>
    </nav>
    <div style="margin-top: 70px">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="bg-info text-center col-sm-2"> ID </th>
                <th class="bg-info text-center col-sm-4"> <div class="sort" data-sortType="words"> Words </div></th>
                <th class="bg-info text-center col-sm-6"> <div class="sort" data-sortType="means"> Meaning </div></th>
            </tr>
            </thead>
            <tbody class="wordsContainer">
                <tr class="wordItem wordClone" style="display:none">
                    <td class="text-center wordId"></td>
                    <td class="text-center wordName"></td>
                    <td class="wordMsg"> <i class="pull-right deleteItem glyphicon glyphicon-trash" style="display:none; cursor:pointer"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a new Words</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="words" class="col-sm-2 control-label">Words</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="words" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="means" class="col-sm-2 control-label">Meaning</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="means" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="wordsAdded">Add</button>
            </div>
        </div>
    </div>
</div>